*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    

}

body{
    align-items: center;
    background-image: url('Papel de Parede de Celular Futurístico Azul.gif');
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 70px;
    max-width: 100%;  /* A largura da imagem vai ser no máximo 100% do seu contêiner */
    background-repeat: no-repeat;
    justify-content: center;
}

h1{
    color: #666;

}

form{
    background: #37c906;
    border-radius: 5px;
    box-shadow: 0 1px 2px #D9F7CF;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 10px;
    padding: 20px;
    margin-top: 180px;
}

input, textarea, button{
    background-color: #f7f7f7;
    border: none;
    border-radius: 5px;
    color: #777;
    font-size: 18px;
    outline: none;
    padding: 15px;
    width: 100%;
}

button{
    color: black;
    cursor: pointer;
    font-weight: bold;
}

audio{
    
}
